    </div> <!-- End of container -->

 <footer class="o-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="">
          <div class="c-footer-credits">
            <h4 class="">$msg['footer.support.heading']</h4>
            <p>
              <a href="/ui/about/identifiers">Documentation regarding Identifiers</a> and how to identify entities contained in the registry.</p>
            </p>
            <p>
              <a href="https://github.com/UKGovLD/registry-core/wiki/Api#content-negotiation">Content negotiation</a>  is supported.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <h4>$msg['footer.about.heading']</h4>
        <p>
            Unless otherwise stated, all content is available under the
          <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
        </p>
        <p class="c-footer-epimorphics">
          <span class="i18n">$msg.get('footer.about.credit', "Epimorphics", "https://www.epimorphics.com")</span>
        </p>
        #if($registry.languageManager.useCookies)
          <p>
            $msg['footer.language.cookies.notice']
          </p>
        #end
          ## Last modified dates
          <div style="margin-top: 15px">
              <h4>Registry Information</h4>

              <div>
                  #set($store = $registry.store)
                  #if($store)
                  $store.lock()
                    #set($model = $store.asModel())
                    #set($results = $model.querySelectW("SELECT ?modified WHERE { ?item <http://purl.org/dc/terms/modified> ?modified } ORDER BY DESC(?modified) LIMIT 1"))
                    #if($results && $results.size() > 0)
                        #set($modifiedNode = $results.get(0).get("modified"))
                        #set($dateStr = $modifiedNode.lexicalForm)
                        #if($modifiedNode)

                            #set($simpleDateFormat = $lib.class.forName("java.text.SimpleDateFormat"))
                            #set($inputFormat = $simpleDateFormat.newInstance())
                            $inputFormat.applyPattern("yyyy-MM-dd'T'HH:mm:ss")
                            #set($outputFormat = $simpleDateFormat.newInstance())
                            $outputFormat.applyPattern("d MMM yyyy HH:mm:ss")
                            #set($parsedDate = $inputFormat.parse($dateStr))
                            #set($formattedDate = $outputFormat.format($parsedDate))
                            <div><strong>Last content update: </strong>$!{formattedDate}</div>
                        #end
                    #end
                    $store.unlock()
              #end
              </div>

              #set($ManagementFactory = $lib.class.forName("java.lang.management.ManagementFactory"))
              #set($RuntimeMXBean = $ManagementFactory.getRuntimeMXBean())
              #set($startTime = $RuntimeMXBean.getStartTime())
              #set($dateFormat = $lib.class.forName("java.text.SimpleDateFormat").newInstance())
              $dateFormat.applyPattern("d MMM yyyy HH:mm:ss")
              #set($deployDate = $dateFormat.format($startTime))
              <div><strong>Last started:</strong> $!{deployDate}</div>
          </div>
      </div>

    </div><!--/.row-->
  </div>
</footer>
    <script>
      window.registry = {
        assets: "$lib.reg.jsEncode($assets)",
        language: "$lib.reg.jsEncode($language)"
      };
    </script>

    <script src="$assets/js/bootstrap.min.js"></script>
    <script src="$assets/js/jquery.dataTables.min.js"></script>
    <script src="$assets/js/bootstrap-editable.min.js"></script>
    <script src="$assets/js/ui.js"></script>
    #if($extraJS)
      #foreach($file in $extraJS.split(","))
        <script src="$assets/js/$file"></script>
      #end
    #end
  </body>
</html>
