## Render any colour bar and service status information on all pages

   ## <div class='o-top-colour-bar'></div>
   ## <div class='o-service-phase'>
   ##     <span class='c-service-phase-beta-badge'>
   ##         $msg['service.beta.label']
   ##     </span>
   ##     $msg.get('service.beta.description', 'TBD')
   ## </div>
#if(!$request.getServerName().equals("carys.dev.codes.wmo.int"))
    <div class="row">
        <div class="non-operational-banner">This is a test website – some features and links may not work, and data may be incorrect.</div>
    </div>
<p><strong>Debug Information:</strong></p>
<ul>
    <li>Request URL: $request.getRequestURL().toString()</li>
    <li>Server Name: $request.getServerName()</li>
    <li>Server Port: $request.getServerPort()</li>
    <li>Remote Addr: $request.getRemoteAddr()</li>
    <li>Remote Host: $request.getRemoteHost()</li>
    <li>Timestamp: $lib.reg.now()</li>
    <li><strong>Accept-Language: $request.getHeader('Accept-Language')</strong></li>
    <li><strong>X-Forwarded-Host: $request.getHeader('X-Forwarded-Host')</strong></li>
    <li><strong>Host: $request.getHeader('Host')</strong></li>
    <li>X-Forwarded-For: $request.getHeader('X-Forwarded-For')</li>
    <li>X-Forwarded-Proto: $request.getHeader('X-Forwarded-Proto')</li>
    <li>Request Headers:
        <ul>
            #foreach($headerName in $request.getHeaderNames())
                <li>$headerName: $request.getHeader($headerName)</li>
            #end
        </ul>
    </li>
</ul>
    #set($void = $requestLogger.info("==== NON-PRODUCTION BANNER DISPLAYED ===="))
    #set($void = $requestLogger.info("Server Name: ${request.getServerName()}"))
    #set($void = $requestLogger.info("Request URL: ${request.getRequestURL()}"))
    #set($void = $requestLogger.info("X-Forwarded-Host: ${request.getHeader('X-Forwarded-Host')}"))
    #set($void = $requestLogger.info("Host Header: ${request.getHeader('Host')}"))
    #set($void = $requestLogger.info("Accept-Language: ${request.getHeader('Accept-Language')}"))
    #set($void = $requestLogger.info("Remote Addr: ${request.getRemoteAddr()}"))
    #set($void = $requestLogger.info("Timestamp: ${lib.reg.now()}"))
    #set($void = $requestLogger.info("=========================================="))

#end
