#parse("header.vm")
#set($nav="about")
#parse("navbar.vm")

    <div class="jumbotron">
      <div class="container">
        <h1>Contributing to the WMO Codes Registry</h1>
        <a href="http://www.wmo.int/pages/index_en.html">
            <img class="float-right"  src="$uiroot/img/wmo-logo-official-blue-on-white-trunc.png" alt="World Meteorological Organization" name="logoWMO" width="169" height="144" border="5"></img>
        </a>
      </div>
    </div>

    <div class="container">
      <div class="row">

      <p> <a href="$uiroot/about/typofixes">How to fix a typographical error.</a> </p>
      <p> <a href="$uiroot/about/translation">How to submit a language translation of an existing code.</a> </p>

      </div>
    ## container will be closed by footer


#parse("footer.vm")
