
#parse("header.vm")
#set($nav="about")
#parse("navbar.vm")

    <div class="jumbotron">
      <div class="container">
        <h1>How to provide a new register of content</h1>
        <a href="http://www.wmo.int/pages/index_en.html">
            <img class="float-right"  src="$uiroot/img/wmo-logo-official-blue-on-white-trunc.png" alt="World Meteorological Organization" name="logoWMO" width="169" height="144" border="5"></img>
        </a>
      </div>
    </div>

    <div class="container">
      <div class="row">
 <p> <a href="$uiroot/about/new_register">How to provide a new register of content.</a> </p>
      <p>The relevant expert or task team in the WMO will review the information in the register you are submitting and make the decision whether to publish it. This team and the WMO secretariat are responsible for approving the exact content to be published within the WMO name space.
      </p>
<ol>
<li>Put together a request for change as a pull request on https://github.com/wmo-registers/code-manuals.</li>
    <ol><li>Put the information you have ready into the request. This can be structured already (such as lists of terms) but doesn’t have to be. We will work with you to gather the right information and format it.</li>
    </ol>
<li>This pull request stays open until your new content is approved and added, or not deemed suitable and rejected. You are responsible for responding to comments on the pull request and updating the content accordingly (managing it to completion).</li>
<li>The pull request will be reviewed by a register manager to make sure it works in the system (if it doesn’t you’ll be helped through this on the pull request).</li>
<li>The new content will then be published to the WMO Registers test website for review by WMO experts.</li>
<li>The information will be looked at in detail by the WMO experts who will provide feedback via comments in the pull request for you to action.</li>
<li>Once all comments and suggestions have been resolved, the WMO experts will deem the content as ‘suitable for adoption’.</li>
<li>The relevant WMO expert team will make the decision whether to publish this content. </li>
<li>If it is to be published, the register manager will then merge the pull request and publish the content onto the WMO Registers website. </li>
</ol></p>

      </div>
    ## container will be closed by footer


#parse("footer.vm")





