##<div class="hero-unit">
<div class="clear-line"></div>
<div id="root-hero-unit">
    <div class="span8 root-title">WMO Codes Registry</div>
        <a href="http://www.wmo.int/pages/index_en.html">
            <img class="float-right"  src="$uiroot/img/wmo-logo-official-blue-on-white-trunc.png" alt="World Meteorological Organization" name="logoWMO" width="169" height="144" border="5"></img>
        </a>
</div>

<p>
The primary purpose of the WMO Codes Registry is to support the new data exchange standard developed by WMO in support of Amendment 76 to ICAO Annex 3 "Meteorological Services for International Air Navigation". This new data exchange standard (<a href="http://wis.wmo.int/page=AvXML-1">WMO AvXML</a>) enables exchange of operational aeronautical meteorological (OPMET) in XML format. It depends on availability of authoritative terms from WMO technical regulation - most notably <a href="http://www.wmo.int/pages/prog/www/WMOCodes.html">WMO No. 306 Manual on Codes</a> - as web-accessible resources that can be referenced from WMO AvXML-compliant data products. 
</p>
<p>
The WMO Codes Registry is the mechanism through which the authoritative terms required for <a href="http://wis.wmo.int/page=AvXML-1">WMO AvXML</a> are published as web-accessible resources.
</p>
<p>
Please note that the information provided within the WMO Codes Registry at this time is sparse in comparison to the scope of the WMO Technical Regulation. Furthermore, note that the Service does not (yet) provide a multi-lingual content, nor a change history of the authoritative terms pertaining to previous versions of the WMO Technical Regulation. The initial set of authoritative terms is deemed sufficient to support the <a href="http://wis.wmo.int/page=AvXML-1">WMO AvXML data exchange standard</a>. It is anticipated that the scope of content available through this Service will be expanded. 
</p>
<p>
<a href="http://www.wmo.int">WMO</a> provides a Google Group (<a href="http://www.google.com/url?q=https%3A%2F%2Fgroups.google.com%2Fa%2Fwmo.int%2Fforum%2F%3Fhl%3Den-GB%23!forum%2Fcbs-codes-registry">WMO Codes List Registry</a>) for discussion about the WMO Codes Registry and content provided therein. 
</p>
<p>
The root register, below, lists the top-level registers within the WMO Codes Registry. These are partitioned according to WMO Technical Regulation. Whilst BUFR4, GRIB2 and COMMON are part of WMO No. 306 Manual on Codes, these registers are brought to the top level. From this root register you can browse to all entries in the registry. Alternatively use the search box in the top bar to look for entries.
</p>

<hr />

#set($register=$node)
#set($itemForReg=$model.getNode($node.uRI.replaceAll("/([^/]+)$", "/_$1")))
#parse("register.vm")
