
  <div class="row">
  	<div class="col-md-10 col-md-offset-1">

      #set($pageres=$items.get(0).page)

      #parse( "main/_register-list-reserved.vm" )

  	  <table class="table table-striped table-bordered #if($registry.configExtensions.showRegisterAsDatatable) datatable #end">
  	  	<thead>
  	      <tr>
            <th>$msg['registerItem.notation.label']</th>
  	      	<th>$msg['registerItem.name.label']</th>
  	      	<th>$msg['registerItem.description.label']</th>
##              <th>$msg['registerItem.types.label']</th>
  	      	<th>$msg['registerItem.status.label']</th>
  	      </tr>
  	  	</thead>

  	  	<tbody>
        #foreach($itemMember in $lib.reg.asItemList($members))        
          #set($memitem = $itemMember.item)
          #set($member = $itemMember.member)
          #if( !$memitem.hasResourceValue("reg:status", "reg:statusReserved") )
          <tr>
          	## When might we not have an $memitem?
              <td>

                  #set($store = $registry.store())
                  #set($item = $store.getItem($memitem.uRI, true))
                  Item: $item
                  Item.lexicalForm: $item.lexicalForm

                  #set($store = $registry.store())

                  #set($idk=$store.beginSafeRead().getNotation($memitem.uRI).endSafeRead())
                  Store with safe read: $idk

                  #foreach($ty in $member.listPropertyValues("rdf:type"))
                    $ty
                    $ty.name
                    $ty.value
                    $ty.lexicalForm
                  #end

                  #set($str1 = $memitem.uRI.lexicalForm)
                  #set($str2 = $memitem.uRI)
                  #set($str3 = $memitem.uRI.toString())
                  #set($str1_mod = $str1.substring($str1.lastIndexOf("/")))
                  #set($str2_mod = $str2.substring($str2.lastIndexOf("/")))
                  #set($str3_mod = $str3.substring($str3.lastIndexOf("/")))
                  $str1
                  $str2
                  $str3
                  $str1_mod
                  $str2_mod
                  $str3_mod



                  ##$memitem.getPropertyValue("reg:notation").lexicalForm
              </td>
          	<td>
              #if($member.hasResourceValue("rdf:type", "reg:Register"))<span class="glyphicon glyphicon-folder-open"></span> &nbsp; #end
              <a href="#linkhref($memitem)" title="$memitem.uRI">$member.name</a>
            </td>
              <td>#tdescription($member,"",70)</td>
##            <td>
##              #foreach($ty in $member.listPropertyValues("rdf:type"))#linkfor($ty)#if( $foreach.hasNext ), #end#end
##            </td>
            <td>#showstatus($memitem.getPropertyValue("reg:status"))</td>
          </tr>
          #end
        #end
        </tbody>
  	  </table>

      #set($qparam="&listView=true")
      ##if( ! $registry.configExtensions.showRegisterAsDatatable )
        #parse( "main/_paging.vm" )  
      ##end

  	</div>
  </div>
