#parse("header.vm")
#set($nav="about")
#parse("navbar.vm")

    <div class="jumbotron">
      <div class="container">
        <h1>$registry.configExtensions.registryName</h1>
        <a href="http://www.wmo.int/pages/index_en.html">
            <img class="float-right"  src="$uiroot/img/wmo-logo-official-blue-on-white-trunc.png" alt="World Meteorological Organization" name="logoWMO" width="169" height="144" border="5"></img>
        </a>
      </div>
    </div>

    <div class="container">
      <div class="row">
      <p>The World Meteorological Organisation (WMO) brings together national meteorological services
         to promote the sharing of data and services. It is a United Nations organisation.</p>
      <p>This is the WMO Codes Registry, which publishes structured content from the official WMO manuals in a web accessible form. </p>
      <ul>
      <li>A register publishes an official record of items.</li>
      <li>In some cases, this will be a collection of other registers.</li>
      <li>A registry is collection of registers, published by an authoritative source.</li></ul>
      <p>The WMO Codes Registry enables the WMO to publish codes as individual resources within a resource structure. These codes are officially managed within the \
WMO Manuals on Codes.</p>
      </div>

      <div class="row">
      <p> <a href="/ui/about/using">Making use of the content from the WMO Codes Registry service.</a> </p>
      </div>

      <div class="row">
      <p> <a href="/ui/about/contributing">Contributing to the content of the WMO Codes Registry service.</a> </p>
      </div>

      <div class="row">
      <p> <a href="/ui/about/expectations">What to expect from the WMO Codes Registry service</a> </p>
      </div>
    

#parse("footer.vm")
